* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f8f8;
}

header {
  background: #222;
  color: #fff;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 22px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.hero {
  background-color: #444;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-content p {
  margin-bottom: 20px;
}

.btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.hero-image img {
  max-width: 300px;
  border-radius: 10px;
}

.about {
  background: white;
  padding: 50px;
  text-align: left;
}

.about h2 {
  margin-bottom: 20px;
}

.about p {
  margin-bottom: 15px;
  color: #555;
}

.btn-secondary {
  background: hwb(233 11% 4%);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
